@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#formularioModal{
    display: flex;
}
.darkMode{
    color:white;
    background-color: black;
}
.darkMode .card {
    color: black
}

.darkMode .card-body {
    background-color: black
}
.darkMode .card-body p {
    color: white;
}
.darkMode .modal-content{
    color: white;
    background-color: black;
}
#sectorMuestraDeCalculo {
    margin-top: 4ch;
}
#hora {
    color: rgba(236, 211, 111, 0.62);
    padding-left: 5%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    font-family: 'Black Ops One' ;
    text-transform: uppercase;
}