@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#formularioModal{
    display: flex;
}
.darkMode{
    color:white;
    background-color: black;
}
.darkMode .card {
    color: black
}

.darkMode .card-body {
    background-color: black
}
.darkMode .card-body p {
    color: white;
}
.darkMode .modal-content{
    color: white;
    background-color: black;
}